body {
    font-family: 'Potta One', cursive;
}
footer>p {
    background-color: #16304E;
    color: white;
}
.row{
    color: aliceblue;
}
.form-label-group{
    text-align: center;
    margin-left: 100px;
    width: 300px;
    align-content: center;
}
button{
    align-content: center;
    width: 200px;
}
p{
    color: black;
}
.about{
    border-radius: 70px;
}
h2{
    font-family: 'Hachi Maru Pop', cursive;
    color: #16304E;
}